@import url('https://fonts.googleapis.com/css?family=Montserrat');
                
* {
    box-sizing: border-box;
}
        img {
max-width:100%;
height:auto;
}   
        
.container {
    background-color: white;
    font-family: Montserrat, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin-left: 300px;
}

h3 {
    margin: 10px 0;
    color: black;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
    color: black;
}

p {
    font-size: 14px;
    line-height: 21px;
    color: black;
}

.card-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: black;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .pro {
    color: #e02941;
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container .round {
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
}

button.primary {
    background-color: #e02941;
    border: 1px solid white;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: #02899C;
}

.skills {
    background-color: white;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    color: black;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

.skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
    color: black;
}

footer {
    background-color: white;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.header {
overflow: hidden;
background-color:#E02941;
padding: 20px 10px;
}

.header a {
float: left;
color: white;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
}

.header a:hover {
background-color: dodgerblue;
color: white;
}

.header a.active {
background-color: dodgerblue;
color: white;
}

.header-right {
float: right;
}
@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}

.header-right {
float: none;
}

}
.fa-map-marker-alt:before {
    content: "\f3c5";
    color: #e02941;
    font-size: large;
}